<div class="about-block">
  <div class="container">
    <h2>ABOUT US</h2>
    <div class="body">
      Add Content Here
    </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/facebook.png" class="facebook"/>
          <div class="social-id"> @MEMORABLY </div>
        </div>
        <div class="col-sm-6">
          <img src="/images/instagram.png" class="instagram"/>
          <div class="social-id"> @MYMEMORABLY </div>
        </div>
      </div>
  </div>
</div>
