<div class="home-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="memory-poster">
          <span class="title">MEMORABLY</span>
          <span class="desc">
            SHARE SNAPSHOTS OF YOUR LIFE TO YOUR GRANDPARENTS IN A SIMPLE AND PERSONALIZED WAY
          </span>
          <div class="sign-up">
            <a> SIGN UP TODAY </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="memory-pic">
          <img src="/images/imageBook.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
