<div class="shop-block">
  <div class="container">
    <h2>SHOP</h2>
    <img src="/images/logo2.jpg"/>
    <div class="footer">
      <span>PREMIUM BOOK</span>
      <div class="more-info">MORE INFO</div>
    </div>
  </div>
</div>
